<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/yale.svg"> -->
    <style>
    .collapsible {
      /*background-color: #777;*/
      /*color: white;*/
      /*cursor: pointer;*/
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 17px;
    }

    .active, .collapsible:hover {
      background-color: #ccc;
    }

    .collapsible_content {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: #f1f1f1;
    }
    </style>


  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/"><b>{{ site.name }}</b></a></h1>
              <h3 style="text-align:center;"><a href="{{ site.authorWebsite }}">{{ site.author }}</a></h3>
              <!-- <p class="site-description">{{ site.description }}</p>  -->
            </div>

<!--             <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <a href="{{ site.baseurl }}/getting-started">Getting Started</a>
              <a href="{{ site.baseurl }}/search">Search</a>
              <a href="{{ site.baseurl }}/about">About</a>
            </nav>
 -->          </header>
        </div>
      </div>



      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ site.description }}
        </div>
      </div>

      
       <div class="wrapper-main">
        <div id="main" role="main" class="container">
          <h2> Get your copy</h2>
          The book is now available in print and you can order your copy  <a href=https://www.amazon.com/Algorithms-Convex-Optimization-Nisheeth-Vishnoi/dp/1108741770>here</a>
          <br> 
        </div>
      </div>
      
      
      
       <div class="wrapper-main">
        <div id="main" role="main" class="container">
          <h2> Download</h2>
          Download an older version of the entire book as a <a href="{{ site.pdf }}">pdf</a>
          <br> 
        </div>
      </div>
      

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
        <h2> Chapters</h2>
          <!-- <img src="images/polarization.png" height="64" width="64"/> -->



          {% for chapter in site.chapters %}
          <div style='width:100%; height:auto;'>
          	<ul>
          		<li> <button class="collapsible"> Chapter {{ chapter.number}} - {{ chapter.title }} </button>
                <div class="collapsible_content">
                    <p>{{ chapter.description }}</p>
                </div>

              </li> 
          	</ul>
          </div>

          {% endfor %}

        </div>
      </div>

      


      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          <h2> Copyright</h2>
          {{ site.copyright }}
          <br> 
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          <h2> Errata</h2>
          {{ site.errata }}
         </div>
      </div>

      
       <div class="wrapper-main">
        <div id="main" role="main" class="container">
          <h2> Other books by the author</h2>
         <ul>
          		<li> <a href=http://cs.yale.edu/homes/vishnoi/Lxb-Web.pdf>Lx=b</a>
    
              </li> <br>
           <li> <a href=http://www.cs.yale.edu/homes/vishnoi/Publications_files/approx-survey.pdf>Faster algorithms via approximation theory</a>
    
              </li> 
          	</ul> 
         </div>
      </div>
      
        <div class="wrapper-main">
        <div id="main" role="main" class="container">
          <h2> About the author</h2>
          {{ site.bio }}
           <div style="margin-bottom:3cm;">
      </div>
        </div>
      </div>


      <div class="wrapper-footer">
        <div class="container">        	
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

  </body>

   <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }
    </script>

</html>
